
{{#each data.sidepanelChatItems}}
	
	<div class="sidepanel-chat__item sidepanel-item">
		<div class="sidepanel-item__box">
			<div class="sidepanel-item__logo">
				<picture>
					<source srcset={{this.webp}}><img src={{this.png}} alt="logo">
				</picture>
			</div>
			<div class="sidepanel-item__caption">
				<div class="sidepanel-item__name">{{this.name}}</div>
				<div class="sidepanel-item__desc">
					<div class="sidepanel-item__owner">{{this.owner}}</div>
					<span>{{this.lastContent}}</span>
				</div>
			</div>
			<div class="sidepanel-item__info">
				<time class="sidepanel-item__time">{{this.time}}</time>
				<div class="sidepanel-item__quantity"><span>{{this.quantity}}</span></div>
			</div>
		</div>
	</div>
{{/each}}